@page
@model ASP_inlamning1.Pages.JoinModel

@{
    ViewData["Title"] = "Join";
}

<h1>Join</h1>

<h4>Event</h4>
<hr />
@if (Model.Joined == false)
{
    <div class="card text-center align-self-center" style="width: 40rem;">
        <div class="card-body">

            <h5 class="card-title">@Html.DisplayNameFor(model => model.Event.title) @Html.DisplayFor(model => model.Event.title)</h5>
            <p class="card-text text-center">@Html.DisplayFor(model => model.Event.description)</p>
            <p></p>
        </div>
    </div>
    <br>

    <div class="align-self-center">
        <form method="post">
            <input class="btn btn-success" type="submit" value="Join">
        </form>
    </div>
}

@if(Model.Joined == true) 
    {
            <div class="card " style="width: 40rem;">
                <div class="card-body">

                    <h5 class="card-title">@Html.DisplayNameFor(model => model.Event.title) @Html.DisplayFor(model => model.Event.title)</h5>
                    <p class="card-text text-center">@Html.DisplayFor(model => model.Event.description)</p>
                    <p></p>
                </div>
            </div>
            <br>

            <div class="text-center">
                <h3 class="text-center">Succesfully joined! </h3>
                <a asp-page="Events">View more events</a>
                <a asp-page="JoinedEvents">View Your events</a>
            </div>
    }






